name: Build and Test

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  build:
    strategy:
      matrix:
        runner: [ ubuntu-24.04, macos-15 ]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.2'

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev libvorbis-dev libogg-dev libflac-dev

      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: brew install libogg libvorbis flac

      - name: Check dependencies
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: Format
        run: test -z "$(gofmt -l .)"

      - name: Build daemon
        run: go build -v ./cmd/daemon

      - name: Test
        run: go test -v -tags "test_unit test_integration" ./...
